{% extends 'chat/base.html' %}

{% load static %}
{% block content %}

<body id="index">
  <div class="container">
    <div class="shadow p-3 mt-4 mb-5 bg-white rounded">

      <form action="room/" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label>Enter a Room</label>
          <input class="form-control" id="room-name-input" type="text" size="100" />
        </div>
        <button class="btn btn-info" onclick="room_id()">Enter Room</button><br />
      </form>

      <div class="mt-2 list-group">
        <p class="lead">Users</p>
        {% for user in users %}
        <a href="{% url 'chat:get_id' pk=user.pk %}"
          class="list-group-item list-group-item-action">{{user.display_name}}</a>
        {% endfor %}
      </div>

      <div class="mt-2 list-group">
        <p class="lead">Groups</p>
        {% for room in rooms %}
        <button value="{{room.room}}" onclick="getroom()"
          class="list-group-item list-group-item-action">{{room.room}}</button>
        {% endfor %}
      </div>

    </div>
  </div>
</body>
<script>
  document.querySelector("#room-name-input").focus();
  document.querySelector("#room-name-input").onkeyup = function (e) {
    if (e.keyCode === 13) {
      // enter, return
      document.querySelector("#room-name-submit").click();
    }
  };

  function getroom(e) {
    var roomname = window.event.srcElement.textContent
    $.ajax({
      type: 'POST',
      url: "{% url 'chat:room_id' %}",
      data: {
        'room': roomname
      },
      success: function () {
        window.location.pathname = "/chat/chat-room/" + roomname + "/";
        console.log('submitted')
      }
    })
  }

  function room_id() {
    room = document.querySelector("#room-name-input").value
    $.ajax({
      type: 'POST',
      url: "{% url 'chat:room_id' %}",
      data: {
        'room': room
      },
      success: function () {
        window.location.pathname = "/chat/chat-room/" + room + "/";
        console.log('submitted')
      }
    })
  }



  document.querySelector("#room-name-submit").onclick = function (e) {
    var roomName = document.querySelector("#room-name-input").value;
    window.location.pathname = "/chat/" + roomName + "/";
  };
</script>
{% endblock %}