{% extends 'chat/base.html' %}

{% load static %}
{% block content %}

<body id="index">
  <div class="container">
    <div class="shadow p-3 mt-4 mb-5 bg-white rounded">



      <div class="form-group">
        <label>Create a Room</label>
        <input class="form-control" id="room-name-input" type="text" size="100" />
      </div>
      <button class="btn btn-info" onclick="create_room()">Create</button><br />


      <!-- Private Chat -->

      <div class="mt-2 list-group">
        <p class="lead">Users</p>
        {% for user in users %}
        <div class="list-group-item list-group-item-action">
          <a class="btn" href="{% url 'chat:get_id' pk=user.pk %}">{{user.display_name}}
            <!-- Notification -->
            {% for notify in user.notification.all %}
            {% if request.user == notify.receiver and notify.new_message %}
            <small class="badge badge-success">{{notify.count}}</small>
            {% endif %}
            {% endfor %}
          </a>

        </div>
        {% endfor %}
      </div>

      <!-- Groups -->

      <div class="mt-2 list-group">
        <p class="lead">Groups</p>
        {% for room in rooms %}
        <div class="list-group-item list-group-item-action">
          <div class="float-right">
            <button id="dropdownMenu2" data-toggle="dropdown" class="btn"><i class="fa fa-ellipsis-v"></i></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <a href="{% url 'chat:room_rel' pk=room.id %}?leave_room" class="dropdown-item">Leave Group</a>
              {% if room.room.admin.username == request.user.username %}
              <div class="dropdown-divider"></div>
              <a href="{% url 'chat:room_rel' pk=room.id %}?change_name" class="dropdown-item">Change Name</a>
              <a href="{% url 'chat:room_rel' pk=room.id %}?delete_room" class="dropdown-item">Delete Group</a>
              <a href="{% url 'chat:add_users' pk=room.room.id %}" class="dropdown-item">Add Users</a>
              {% endif %}
            </div>
          </div>
          <button class="btn" value="{{room.room.room_id}}" onclick="getroom()">{{room.room}}
            <!-- Notification -->
            {% for notify in room.room.notification.all %}
            {% if request.user == notify.user and notify.new_message %}
            <small class="badge badge-success">{{notify.count}}</small>
            {% endif %}
            {% endfor %}
          </button>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
</body>
<script>
  document.querySelector("#room-name-input").focus();
  document.querySelector("#room-name-input").onkeyup = function (e) {
    if (e.keyCode === 13) {
      // enter, return
      create_room()
      document.querySelector("#room-name-submit").click();
    }
  };

  function create_room() {
    room = document.querySelector("#room-name-input").value
    if (room.trim() != '') {
      $.ajax({
        type: 'POST',
        url: "{% url 'chat:create_room' %}",
        data: {
          'room': room,

        },
        success: function (data) {
          console.log(data.room)
          window.location.pathname = "/chat/chat-room/" + data.room + "/";
          console.log('submitted')
        }
      })
    }
  }

  function getroom(e) {
    var roomid = window.event.srcElement.value
    var roomname = window.event.srcElement.textContent
    $.ajax({
      type: 'POST',
      url: "{% url 'chat:room_id' %}",
      data: {
        'room': roomid,
        'room_name': roomname,
      },
      success: function () {
        window.location.pathname = "/chat/chat-room/" + roomid + "/";
        console.log('submitted')
      }
    })
  }

  function room_id() {
    room = document.querySelector("#room-name-input").value
    $.ajax({
      type: 'POST',
      url: "{% url 'chat:room_id' %}",
      data: {
        'room': room
      },
      success: function () {
        window.location.pathname = "/chat/chat-room/" + room + "/";
        console.log('submitted')
      }
    })
  }



  document.querySelector("#room-name-submit").onclick = function (e) {
    var roomName = document.querySelector("#room-name-input").value;
    window.location.pathname = "/chat/" + roomName + "/";
  };
</script>
{% endblock %}