{% extends 'chat/base.html' %}
{% block content %}

<div class="container shadow p-3 mt-4 mb-5 bg-white rounded">
  <div>
    {% if group == 'room' %}
    <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn float-right">
      <i style="font-size:24px" class="fa fa-info-circle" aria-hidden="true"></i>
    </button>
    {% endif %}
    <h2> {{chat_name}} </h2>
  </div>

  <hr>
  <div class="conversation" id="chat-log"></div>
  <br />
  <div class="form-group">
    <input width="50%" class="form-control" id="chat-message-input" type="text" size="50" />
    <input class="btn mt-2 btn-info" id="chat-message-submit" type="button" value="Send" />
  </div>

  <!-- Group Display's -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Group Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="lead">Group Members</p>

          <div>
            {% for user in users %}
            <p>
              {% if user.room.admin == user.user %}
              {{user.user}} <span class="text-success">Admin</span>
              {% else %}
              {% if admin %}
              <a href="{% url 'chat:remove' user.id %}" class="float-right btn btn-link">Remove</a>
              {{user.user}}
              {% else %}
              {{user.user}}
              {% endif %}
              {% endif %}
            </p>
            {% endfor %}

          </div>
          <hr>
          {% if admin %}
          <a href="{% url 'chat:add_users' pk=roomId %}" class="btn btn-sm btn-outline-primary">Add Users</a>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  {{ room_id|json_script:"room-id" }}
</div>
<script>
  var user = "{{request.user.username}}"
  //const user = document.querySelector("#user").innerHTML;
  const roomId = JSON.parse(
    document.getElementById("room-id").textContent
  );

  const chatSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/chat/chat-room/" + roomId + "/"
  );

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    if (data.label == 'private') {
      if (data.state == "fetched_messages" && user == data.user) {
        data.messages.map((message) => {
          user == message.user
            ? (document.querySelector(
              "#chat-log"
            ).innerHTML += `<p class="my_mess">${message.content}</p>`)
            : (document.querySelector(
              "#chat-log"
            ).innerHTML += `<p class="received">${message.content}</p>`);
        });
      } else {
        user == data.user
          ? (document.querySelector(
            "#chat-log"
          ).innerHTML += `<p class="my_mess">${data.message}</p>`)
          : (document.querySelector(
            "#chat-log"
          ).innerHTML += `<p class="received">${data.message}</p>`);
      }
    }
    else {
      if (data.state == "fetched_messages" && user == data.user) {
        data.messages.map((message) => {
          user == message.user
            ? (document.querySelector(
              "#chat-log"
            ).innerHTML += `<p class="my_mess"><small class='text-danger'>${message.user}: </small>${message.content}</p>`)
            : (document.querySelector(
              "#chat-log"
            ).innerHTML += `<p class="received"><small class='text-danger'>${message.user}: </small>${message.content}</p>`);
        });
      } else {
        user == data.user
          ? (document.querySelector(
            "#chat-log"
          ).innerHTML += `<p class="my_mess"><small class='text-danger'>${data.user}: </small>${data.message}</p>`)
          : (document.querySelector(
            "#chat-log"
          ).innerHTML += `<p class="received"><small class='text-danger'>${data.user}: </small>${data.message}</p>`);
      }
    }
    document.getElementById('chat-log').lastChild.scrollIntoView(false);
  };

  chatSocket.onclose = function (e) {
    console.error("Chat socket closed unexpectedly");
  };

  document.querySelector("#chat-message-input").focus();
  document.querySelector("#chat-message-input").onkeyup = function (e) {
    if (e.keyCode === 13) {
      // enter, return
      console.log();
      document.querySelector("#chat-message-submit").click();
    }
  };

  setTimeout(() => {
    chatSocket.send(
      JSON.stringify({
        command: "fetch messages",
        chat_id: roomId,
        user: user,
      })
    );
  }, 500);

  document.querySelector("#chat-message-submit").onclick = function (e) {
    const messageInputDom = document.querySelector("#chat-message-input");
    const message = messageInputDom.value;
    chatSocket.send(
      JSON.stringify({
        command: "new message",
        message: message,
        user: user,
        chat_id: roomId,
      })
    );
    messageInputDom.value = "";
  };
</script>
{% endblock %}