.conversation {
  height: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
}

/* a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
} */

.my_mess {
  background-color: #5bc0de;
  padding: 10px;
  border-radius: 10px;
  align-self: flex-end;
  width: 80%;
  word-wrap: break-word;
  margin: 4px;
}
.received {
  background-color: #ebebeb;
  color: #646464;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  word-wrap: break-word;
  margin: 4px;
}
